<template>
  <v-card class="mx-auto" width="300">
    <span class="img-container">
      <v-img
        class="photo"
        :src="app.photo"
        alt="Photo appartement"
        width="300px"
        height="200px"
      />
    </span>
    <v-card-text>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>mdi-currency-eur</v-icon>
        </v-list-item-icon>
        <v-list-item-subtitle>{{ app.getLoyer() }}</v-list-item-subtitle>
      </v-list-item>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>mdi-home</v-icon>
        </v-list-item-icon>
        <v-list-item-subtitle>{{ app.getSuperficie() }}</v-list-item-subtitle>
      </v-list-item>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>mdi-bus-clock</v-icon>
        </v-list-item-icon>
        <v-list-item-subtitle>{{ app.getTempsTrajet() }}</v-list-item-subtitle>
      </v-list-item>
      <v-list-item v-if="app.meuble">
        <v-list-item-icon>
          <v-icon>mdi-checkbox-marked-circle </v-icon>
        </v-list-item-icon>
        <v-list-item-subtitle>Meublé</v-list-item-subtitle>
      </v-list-item>
      <v-list-item v-else>
        <v-list-item-icon>
          <v-icon>mdi-close-box</v-icon>
        </v-list-item-icon>
        <v-list-item-subtitle>Pas meublé</v-list-item-subtitle>
      </v-list-item>
    </v-card-text>

    <v-card-actions>
      <v-btn
        :href="app.lien"
        target="_blank"
        ref="noreferrer norelopener"
        text
        color="#f8f32b"
      >
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import Appartement from '~/scripts/appartement';

export default Vue.extend({
  props: {
    app: Appartement,
  },
});
</script>

<style scoped></style>
