.img-container {
  max-height: 300px;
  height: 300px;
}

.v-image {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
}

.v-card.theme--dark {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 5px;
}

#card-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#tri {
  width: 30%;
}
/*# sourceMappingURL=appartement.css.map */