.img-container {
  max-height: 300px;
  height: 300px;
}

.v-image {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
}

.v-card.theme--dark {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

#card-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

#tri {
  width: 30%;
}
