@import 'variables.scss';
:root {
  font-size: 16px;
  --text-primary: #fff;
  --text-secondary: $yellow;
  --bg-primary: #eef0f2;
  --bg-secondary: $yellow;
  --transition-speed: 200ms;
}

.theme--dark.v-application {
  background-color: #5f0f40 !important;
  background-image: linear-gradient(316deg, #5f0f40 0%, #310e68 74%) !important;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
body,
.v-application {
  min-height: 100%;
  color: #fff !important;
  font-family: 'Fira Sans', 'M PLUS 1p', sans-serif !important;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body::-webkit-scrollbar {
  width: 0.45rem;
}
body::-webkit-scrollbar-track {
  background: #310e68;
}
body::-webkit-scrollbar-thumb {
  background: $yellow;
}
main {
  padding: 1rem;
}
.highlight {
  font-weight: bold;
  color: $yellow;
}

a {
  color: $yellow !important;
}

p {
  margin: 0 !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #container {
    margin-bottom: 5rem;
  }
}
