<template>
  <v-app>
    <v-container>
      <h1>Liste appartements</h1>

      <div id="tri">
        <span>Méthode de tri</span>
        <v-combobox
          v-model="methodeTri"
          :items="listeMethodesTri"
          solo
          label="Méthode de tri"
          color="#f8f32b"
          dense
        />

        <v-checkbox
          v-model="boutonCaf"
          label="Déduire CAF (221€)"
          color="#f8f32b"
        />

        <v-checkbox
          v-model="boutonMeubles"
          label="Meublés uniquement"
          color="#f8f32b"
        />

        <p>Moyenne loyers: {{ this.moyenneLoyer.toFixed(2) }} €</p>
      </div>
    </v-container>
    <v-container id="card-container">
      <card v-for="app in listeFiltree" :key="app.Lien" :app="app" />
    </v-container>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import appartementsData from '~/static/appartements.json';
import Appartement, {
  trierLoyer,
  trierLoyerMetreCarre,
  trierSuperficie,
  trierTempsTrajet,
} from '~/scripts/appartement';
import Card from '~/components/card.vue';

enum Tri {
  Loyer = 'Loyer',
  LoyerMetreCarre = 'Loyer du mètre carré',
  Superficie = 'Superficie',
  TempsTrajet = 'Temps de trajet',
}

export default Vue.extend({
  components: {
    card: Card,
  },

  data: () => {
    return {
      appartements: appartementsData,
      listeAppartements: [] as Appartement[],
      listeFiltree: [] as Appartement[],
      methodeTri: Tri.Loyer,
      listeMethodesTri: Object.values(Tri),
      boutonCaf: false,
      boutonMeubles: false,
      moyenneLoyer: 0,
    };
  },

  mounted() {
    for (const app of this.appartements) {
      this.listeAppartements.push(
        new Appartement(
          app.Loyer,
          app.NbPieces,
          app.Superficie,
          app.TempsTrajet,
          app.Lien,
          app.Photo,
          app.Meuble
        )
      );
    }

    this.listeFiltree = [...this.listeAppartements];
    this.trier();
  },

  methods: {
    calculerMoyenne() {
      const sommeLoyers: number = this.listeFiltree.reduce(
        (accumulateur: number, app: Appartement) => accumulateur + app.loyer,
        0
      );

      this.moyenneLoyer = sommeLoyers / this.listeFiltree.length;
    },

    trier() {
      switch (this.methodeTri) {
        case Tri.Loyer:
          this.listeFiltree = trierLoyer(this.listeFiltree);
          break;

        case Tri.Superficie:
          this.listeFiltree = trierSuperficie(this.listeFiltree, true);
          break;

        case Tri.LoyerMetreCarre:
          this.listeFiltree = trierLoyerMetreCarre(this.listeFiltree);
          break;

        case Tri.TempsTrajet:
          this.listeFiltree = trierTempsTrajet(this.listeFiltree);
          break;

        default:
          break;
      }

      this.calculerMoyenne();
    },
  },

  watch: {
    methodeTri() {
      this.trier();
    },

    boutonCaf() {
      if (this.boutonCaf) {
        this.listeFiltree.map((app) => {
          app.deduireCaf();
        });
      } else {
        this.listeFiltree.map((app) => {
          app.remettreLoyerNormal();
        });
      }

      this.calculerMoyenne();
    },

    boutonMeubles() {
      this.listeFiltree = this.boutonMeubles
        ? this.listeFiltree.filter((app) => app.meuble)
        : [...this.listeAppartements];

      this.trier();
    },
  },
});
</script>

<style lang="scss" scoped>
@import 'assets/styles/appartement.css';
@import 'assets/styles/global.css';
</style>
